body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:533px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13043 {
  position:absolute;
  left:127px;
  top:287px;
  width:395px;
  height:571px;
  overflow:hidden;
}
#u13043_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:571px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u13043_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13044 {
  position:absolute;
  left:88px;
  top:904px;
  width:152px;
  height:47px;
}
#u13045 {
  position:absolute;
  left:2px;
  top:16px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13046 {
  position:absolute;
  left:127px;
  top:874px;
  width:95px;
  height:20px;
  color:#999999;
}
#u13047 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u13048 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
}
#u13049 {
  position:absolute;
  left:12px;
  top:12px;
  width:350px;
  height:138px;
}
#u13050 {
  position:absolute;
  left:2px;
  top:61px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#2B2B2C;
}
#u13051 {
  position:absolute;
  left:146px;
  top:25px;
  width:134px;
  height:19px;
  font-size:14px;
  color:#2B2B2C;
}
#u13052 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u13053 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u13054 {
  position:absolute;
  left:274px;
  top:124px;
  width:81px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u13055 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u13056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8890AC;
}
#u13056 {
  position:absolute;
  left:258px;
  top:125px;
  width:15px;
  height:20px;
  color:#8890AC;
}
#u13057 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u13058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:96px;
}
#u13058 {
  position:absolute;
  left:21px;
  top:25px;
  width:120px;
  height:96px;
}
#u13059 {
  position:absolute;
  left:2px;
  top:40px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2B2B2C;
}
#u13060 {
  position:absolute;
  left:146px;
  top:44px;
  width:151px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2B2B2C;
}
#u13061 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u13062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:16px;
}
#u13062 {
  position:absolute;
  left:146px;
  top:98px;
  width:193px;
  height:16px;
  font-size:14px;
}
#u13063 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  word-wrap:break-word;
}
#u13064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:17px;
}
#u13064 {
  position:absolute;
  left:146px;
  top:71px;
  width:183px;
  height:17px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13065 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u13066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 110, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FAFAFA;
}
#u13066 {
  position:absolute;
  left:303px;
  top:25px;
  width:51px;
  height:19px;
  color:#FAFAFA;
}
#u13067 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  word-wrap:break-word;
}
#u13068 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
}
#u13069 {
  position:absolute;
  left:12px;
  top:156px;
  width:350px;
  height:138px;
}
#u13070 {
  position:absolute;
  left:2px;
  top:61px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#2B2B2C;
}
#u13071 {
  position:absolute;
  left:146px;
  top:169px;
  width:134px;
  height:19px;
  font-size:14px;
  color:#2B2B2C;
}
#u13072 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u13073 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u13074 {
  position:absolute;
  left:274px;
  top:268px;
  width:81px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u13075 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u13076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8890AC;
}
#u13076 {
  position:absolute;
  left:258px;
  top:269px;
  width:15px;
  height:20px;
  color:#8890AC;
}
#u13077 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u13078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:96px;
}
#u13078 {
  position:absolute;
  left:21px;
  top:169px;
  width:120px;
  height:96px;
}
#u13079 {
  position:absolute;
  left:2px;
  top:40px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2B2B2C;
}
#u13080 {
  position:absolute;
  left:146px;
  top:188px;
  width:151px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2B2B2C;
}
#u13081 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u13082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:16px;
}
#u13082 {
  position:absolute;
  left:146px;
  top:242px;
  width:193px;
  height:16px;
  font-size:14px;
}
#u13083 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  word-wrap:break-word;
}
#u13084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:17px;
}
#u13084 {
  position:absolute;
  left:146px;
  top:215px;
  width:183px;
  height:17px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13085 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u13086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 110, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FAFAFA;
}
#u13086 {
  position:absolute;
  left:303px;
  top:169px;
  width:51px;
  height:19px;
  color:#FAFAFA;
}
#u13087 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  word-wrap:break-word;
}
#u13088 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
}
#u13089 {
  position:absolute;
  left:12px;
  top:299px;
  width:350px;
  height:138px;
}
#u13090 {
  position:absolute;
  left:2px;
  top:61px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#2B2B2C;
}
#u13091 {
  position:absolute;
  left:146px;
  top:312px;
  width:134px;
  height:19px;
  font-size:14px;
  color:#2B2B2C;
}
#u13092 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u13093 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u13094 {
  position:absolute;
  left:274px;
  top:411px;
  width:81px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u13095 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u13096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8890AC;
}
#u13096 {
  position:absolute;
  left:258px;
  top:412px;
  width:15px;
  height:20px;
  color:#8890AC;
}
#u13097 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u13098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:96px;
}
#u13098 {
  position:absolute;
  left:21px;
  top:312px;
  width:120px;
  height:96px;
}
#u13099 {
  position:absolute;
  left:2px;
  top:40px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2B2B2C;
}
#u13100 {
  position:absolute;
  left:146px;
  top:331px;
  width:151px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2B2B2C;
}
#u13101 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u13102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:16px;
}
#u13102 {
  position:absolute;
  left:146px;
  top:385px;
  width:193px;
  height:16px;
  font-size:14px;
}
#u13103 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  word-wrap:break-word;
}
#u13104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:17px;
}
#u13104 {
  position:absolute;
  left:146px;
  top:358px;
  width:183px;
  height:17px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13105 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u13106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 110, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FAFAFA;
}
#u13106 {
  position:absolute;
  left:303px;
  top:312px;
  width:51px;
  height:19px;
  color:#FAFAFA;
}
#u13107 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  word-wrap:break-word;
}
#u13108 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
}
#u13109 {
  position:absolute;
  left:12px;
  top:443px;
  width:350px;
  height:138px;
}
#u13110 {
  position:absolute;
  left:2px;
  top:61px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#2B2B2C;
}
#u13111 {
  position:absolute;
  left:146px;
  top:456px;
  width:134px;
  height:19px;
  font-size:14px;
  color:#2B2B2C;
}
#u13112 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u13113 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u13114 {
  position:absolute;
  left:274px;
  top:555px;
  width:81px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u13115 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u13116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8890AC;
}
#u13116 {
  position:absolute;
  left:258px;
  top:556px;
  width:15px;
  height:20px;
  color:#8890AC;
}
#u13117 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u13118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:96px;
}
#u13118 {
  position:absolute;
  left:21px;
  top:456px;
  width:120px;
  height:96px;
}
#u13119 {
  position:absolute;
  left:2px;
  top:40px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2B2B2C;
}
#u13120 {
  position:absolute;
  left:146px;
  top:475px;
  width:151px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2B2B2C;
}
#u13121 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u13122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:16px;
}
#u13122 {
  position:absolute;
  left:146px;
  top:529px;
  width:193px;
  height:16px;
  font-size:14px;
}
#u13123 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  word-wrap:break-word;
}
#u13124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:17px;
}
#u13124 {
  position:absolute;
  left:146px;
  top:502px;
  width:183px;
  height:17px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13125 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u13126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 110, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FAFAFA;
}
#u13126 {
  position:absolute;
  left:303px;
  top:456px;
  width:51px;
  height:19px;
  color:#FAFAFA;
}
#u13127 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  word-wrap:break-word;
}
#u13128 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
}
#u13129 {
  position:absolute;
  left:12px;
  top:586px;
  width:350px;
  height:138px;
}
#u13130 {
  position:absolute;
  left:2px;
  top:61px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#2B2B2C;
}
#u13131 {
  position:absolute;
  left:146px;
  top:599px;
  width:134px;
  height:19px;
  font-size:14px;
  color:#2B2B2C;
}
#u13132 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u13133 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u13134 {
  position:absolute;
  left:274px;
  top:698px;
  width:81px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u13135 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u13136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8890AC;
}
#u13136 {
  position:absolute;
  left:258px;
  top:699px;
  width:15px;
  height:20px;
  color:#8890AC;
}
#u13137 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u13138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:96px;
}
#u13138 {
  position:absolute;
  left:21px;
  top:599px;
  width:120px;
  height:96px;
}
#u13139 {
  position:absolute;
  left:2px;
  top:40px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2B2B2C;
}
#u13140 {
  position:absolute;
  left:146px;
  top:618px;
  width:151px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2B2B2C;
}
#u13141 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u13142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:16px;
}
#u13142 {
  position:absolute;
  left:146px;
  top:672px;
  width:193px;
  height:16px;
  font-size:14px;
}
#u13143 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  word-wrap:break-word;
}
#u13144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:17px;
}
#u13144 {
  position:absolute;
  left:146px;
  top:645px;
  width:183px;
  height:17px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13145 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u13146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 110, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FAFAFA;
}
#u13146 {
  position:absolute;
  left:303px;
  top:599px;
  width:51px;
  height:19px;
  color:#FAFAFA;
}
#u13147 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  word-wrap:break-word;
}
#u13148 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
}
#u13149 {
  position:absolute;
  left:12px;
  top:730px;
  width:350px;
  height:138px;
}
#u13150 {
  position:absolute;
  left:2px;
  top:61px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#2B2B2C;
}
#u13151 {
  position:absolute;
  left:146px;
  top:743px;
  width:134px;
  height:19px;
  font-size:14px;
  color:#2B2B2C;
}
#u13152 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u13153 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u13154 {
  position:absolute;
  left:274px;
  top:842px;
  width:81px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u13155 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u13156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8890AC;
}
#u13156 {
  position:absolute;
  left:258px;
  top:843px;
  width:15px;
  height:20px;
  color:#8890AC;
}
#u13157 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u13158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:96px;
}
#u13158 {
  position:absolute;
  left:21px;
  top:743px;
  width:120px;
  height:96px;
}
#u13159 {
  position:absolute;
  left:2px;
  top:40px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2B2B2C;
}
#u13160 {
  position:absolute;
  left:146px;
  top:762px;
  width:151px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2B2B2C;
}
#u13161 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u13162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:16px;
}
#u13162 {
  position:absolute;
  left:146px;
  top:816px;
  width:193px;
  height:16px;
  font-size:14px;
}
#u13163 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  word-wrap:break-word;
}
#u13164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:17px;
}
#u13164 {
  position:absolute;
  left:146px;
  top:789px;
  width:183px;
  height:17px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13165 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u13166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 110, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FAFAFA;
}
#u13166 {
  position:absolute;
  left:303px;
  top:743px;
  width:51px;
  height:19px;
  color:#FAFAFA;
}
#u13167 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  word-wrap:break-word;
}
#u13169 {
  position:absolute;
  left:129px;
  top:125px;
}
#u13169_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u13169_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u13170 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u13171 {
  position:absolute;
  left:0px;
  top:14px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u13173 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u13174 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13175 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#333333;
  line-height:28px;
}
#u13176 {
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#333333;
  line-height:28px;
}
#u13177 {
  position:absolute;
  left:0px;
  top:6px;
  width:375px;
  word-wrap:break-word;
}
#u13178 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3478F7;
  line-height:20px;
}
#u13179 {
  position:absolute;
  left:286px;
  top:48px;
  width:80px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3478F7;
  line-height:20px;
}
#u13179_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3478F7;
  line-height:20px;
}
#u13179.mouseDown {
  opacity:0.8;
}
#u13180 {
  position:absolute;
  left:0px;
  top:7px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u13181 {
  position:absolute;
  left:332px;
  top:50px;
  width:26px;
  height:26px;
}
#u13182 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u13183 {
  position:absolute;
  left:298px;
  top:52px;
  width:23px;
  height:23px;
}
#u13184 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u13185 {
  position:absolute;
  left:327px;
  top:56px;
  width:1px;
  height:15px;
}
#u13186 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#333333;
  text-align:left;
  line-height:20px;
}
#u13187 {
  position:absolute;
  left:0px;
  top:44px;
  width:81px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#333333;
  text-align:left;
  line-height:20px;
}
#u13187_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#333333;
  text-align:left;
  line-height:20px;
}
#u13187.mouseDown {
  opacity:0.8;
}
#u13188 {
  position:absolute;
  left:20px;
  top:10px;
  width:61px;
  word-wrap:break-word;
}
#u13189 {
  position:absolute;
  left:457px;
  top:818px;
  width:38px;
  height:38px;
  overflow:hidden;
}
#u13189_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13189_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u13190 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
  opacity:0.5;
}
#u13191 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13192 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13193_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:386px;
  height:91px;
}
#u13193 {
  position:absolute;
  left:129px;
  top:858px;
  width:375px;
  height:80px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u13194 {
  position:absolute;
  left:0px;
  top:34px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13195 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(60, 196, 138, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13196 {
  position:absolute;
  left:267px;
  top:868px;
  width:100px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13197 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u13198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(50, 113, 246, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13198 {
  position:absolute;
  left:377px;
  top:868px;
  width:100px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13199 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u13200 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13201_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:45px;
  height:45px;
}
#u13201 {
  position:absolute;
  left:157px;
  top:872px;
  width:35px;
  height:35px;
}
#u13202 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u13203 {
  position:absolute;
  left:197px;
  top:870px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u13204 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u13205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u13205 {
  position:absolute;
  left:197px;
  top:890px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u13206 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13208 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u13209 {
  position:absolute;
  left:100px;
  top:100px;
  width:433px;
  height:62px;
}
#u13210 {
  position:absolute;
  left:2px;
  top:23px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u13211 {
  position:absolute;
  left:100px;
  top:162px;
  width:30px;
  height:803px;
}
#u13212 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u13213 {
  position:absolute;
  left:130px;
  top:906px;
  width:373px;
  height:59px;
}
#u13214 {
  position:absolute;
  left:2px;
  top:22px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u13215 {
  position:absolute;
  left:503px;
  top:162px;
  width:30px;
  height:803px;
}
#u13216 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13217 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13218 {
  position:absolute;
  left:289px;
  top:259px;
  width:70px;
  height:16px;
}
#u13219 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u13220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u13220 {
  position:absolute;
  left:130px;
  top:285px;
  width:374px;
  height:1px;
}
#u13221 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13222 {
  position:absolute;
  left:142px;
  top:259px;
  width:42px;
  height:16px;
}
#u13223 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u13224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u13224 {
  position:absolute;
  left:463px;
  top:259px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u13225 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13226 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u13227 {
  position:absolute;
  left:248px;
  top:216px;
  width:35px;
  height:35px;
}
#u13228 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u13229 {
  position:absolute;
  left:293px;
  top:224px;
  width:116px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u13230 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
