body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1117px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12606 {
  position:absolute;
  left:129px;
  top:209px;
  width:395px;
  height:729px;
  overflow:hidden;
}
#u12606_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:729px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u12606_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12607_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12607 {
  position:absolute;
  left:4px;
  top:2px;
  width:254px;
  height:6px;
}
#u12608 {
  position:absolute;
  left:2px;
  top:-5px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u12609 {
  position:absolute;
  left:157px;
  top:26px;
  width:60px;
  height:60px;
}
#u12610 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12611_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
}
#u12611 {
  position:absolute;
  left:163px;
  top:86px;
  width:49px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12612 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12613 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:16px;
}
#u12614 {
  position:absolute;
  left:82px;
  top:110px;
  width:236px;
  height:16px;
}
#u12615 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  white-space:nowrap;
}
#u12616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u12616 {
  position:absolute;
  left:57px;
  top:111px;
  width:15px;
  height:15px;
}
#u12617 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12618_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u12618 {
  position:absolute;
  left:222px;
  top:91px;
  width:49px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u12619 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:12px;
  color:#6B6B6B;
}
#u12620 {
  position:absolute;
  left:38px;
  top:136px;
  width:300px;
  height:170px;
  font-size:12px;
  color:#6B6B6B;
}
#u12621 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:20px;
}
#u12622 {
  position:absolute;
  left:50px;
  top:147px;
  width:257px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#2B2B2C;
}
#u12623 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u12624_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:109px;
}
#u12624 {
  position:absolute;
  left:51px;
  top:177px;
  width:281px;
  height:109px;
  color:#999999;
}
#u12625 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u12626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u12626 {
  position:absolute;
  left:138px;
  top:326px;
  width:100px;
  height:100px;
}
#u12627 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:40px;
  background:inherit;
  background-color:rgba(50, 113, 246, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12628 {
  position:absolute;
  left:57px;
  top:483px;
  width:275px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12629 {
  position:absolute;
  left:2px;
  top:12px;
  width:271px;
  word-wrap:break-word;
}
#u12631 {
  position:absolute;
  left:129px;
  top:125px;
}
#u12631_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u12631_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u12632 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u12633 {
  position:absolute;
  left:0px;
  top:14px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u12635 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u12636 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12637 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#333333;
  line-height:28px;
}
#u12638 {
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#333333;
  line-height:28px;
}
#u12639 {
  position:absolute;
  left:0px;
  top:6px;
  width:375px;
  word-wrap:break-word;
}
#u12640 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3478F7;
  line-height:20px;
}
#u12641 {
  position:absolute;
  left:286px;
  top:48px;
  width:80px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3478F7;
  line-height:20px;
}
#u12641_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3478F7;
  line-height:20px;
}
#u12641.mouseDown {
  opacity:0.8;
}
#u12642 {
  position:absolute;
  left:0px;
  top:7px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u12643 {
  position:absolute;
  left:332px;
  top:50px;
  width:26px;
  height:26px;
}
#u12644 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u12645 {
  position:absolute;
  left:298px;
  top:52px;
  width:23px;
  height:23px;
}
#u12646 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u12647 {
  position:absolute;
  left:327px;
  top:56px;
  width:1px;
  height:15px;
}
#u12648 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#333333;
  text-align:left;
  line-height:20px;
}
#u12649 {
  position:absolute;
  left:0px;
  top:44px;
  width:81px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#333333;
  text-align:left;
  line-height:20px;
}
#u12649_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#333333;
  text-align:left;
  line-height:20px;
}
#u12649.mouseDown {
  opacity:0.8;
}
#u12650 {
  position:absolute;
  left:20px;
  top:10px;
  width:61px;
  word-wrap:break-word;
}
#u12652 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u12653 {
  position:absolute;
  left:100px;
  top:100px;
  width:433px;
  height:62px;
}
#u12654 {
  position:absolute;
  left:2px;
  top:23px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u12655 {
  position:absolute;
  left:100px;
  top:162px;
  width:30px;
  height:803px;
}
#u12656 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u12657 {
  position:absolute;
  left:130px;
  top:906px;
  width:373px;
  height:59px;
}
#u12658 {
  position:absolute;
  left:2px;
  top:22px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u12659 {
  position:absolute;
  left:503px;
  top:162px;
  width:30px;
  height:803px;
}
#u12660 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12661 {
  position:absolute;
  left:713px;
  top:209px;
  width:395px;
  height:729px;
  overflow:hidden;
}
#u12661_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:729px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u12661_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:12px;
  color:#6B6B6B;
}
#u12662 {
  position:absolute;
  left:38px;
  top:136px;
  width:300px;
  height:170px;
  font-size:12px;
  color:#6B6B6B;
}
#u12663 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12664 {
  position:absolute;
  left:4px;
  top:2px;
  width:254px;
  height:6px;
}
#u12665 {
  position:absolute;
  left:2px;
  top:-5px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u12666 {
  position:absolute;
  left:51px;
  top:144px;
  width:60px;
  height:60px;
}
#u12667 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
}
#u12668 {
  position:absolute;
  left:121px;
  top:144px;
  width:49px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12669 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12670 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u12671 {
  position:absolute;
  left:76px;
  top:220px;
  width:40px;
  height:16px;
}
#u12672 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u12673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u12673 {
  position:absolute;
  left:51px;
  top:221px;
  width:15px;
  height:15px;
}
#u12674 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u12675 {
  position:absolute;
  left:121px;
  top:178px;
  width:49px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u12676 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u12677 {
  position:absolute;
  left:222px;
  top:197px;
  width:100px;
  height:100px;
}
#u12678 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:40px;
  background:inherit;
  background-color:rgba(50, 113, 246, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12679 {
  position:absolute;
  left:57px;
  top:483px;
  width:275px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12680 {
  position:absolute;
  left:2px;
  top:12px;
  width:271px;
  word-wrap:break-word;
}
#u12681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:50px;
}
#u12681 {
  position:absolute;
  left:116px;
  top:220px;
  width:96px;
  height:50px;
  font-size:14px;
}
#u12682 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u12684 {
  position:absolute;
  left:713px;
  top:125px;
}
#u12684_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u12684_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u12685 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u12686 {
  position:absolute;
  left:0px;
  top:14px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u12688 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u12689 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12690 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#333333;
  line-height:28px;
}
#u12691 {
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#333333;
  line-height:28px;
}
#u12692 {
  position:absolute;
  left:0px;
  top:6px;
  width:375px;
  word-wrap:break-word;
}
#u12693 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3478F7;
  line-height:20px;
}
#u12694 {
  position:absolute;
  left:286px;
  top:48px;
  width:80px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3478F7;
  line-height:20px;
}
#u12694_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3478F7;
  line-height:20px;
}
#u12694.mouseDown {
  opacity:0.8;
}
#u12695 {
  position:absolute;
  left:0px;
  top:7px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u12696 {
  position:absolute;
  left:332px;
  top:50px;
  width:26px;
  height:26px;
}
#u12697 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u12698 {
  position:absolute;
  left:298px;
  top:52px;
  width:23px;
  height:23px;
}
#u12699 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u12700 {
  position:absolute;
  left:327px;
  top:56px;
  width:1px;
  height:15px;
}
#u12701 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#333333;
  text-align:left;
  line-height:20px;
}
#u12702 {
  position:absolute;
  left:0px;
  top:44px;
  width:81px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#333333;
  text-align:left;
  line-height:20px;
}
#u12702_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#333333;
  text-align:left;
  line-height:20px;
}
#u12702.mouseDown {
  opacity:0.8;
}
#u12703 {
  position:absolute;
  left:20px;
  top:10px;
  width:61px;
  word-wrap:break-word;
}
#u12705 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u12706 {
  position:absolute;
  left:684px;
  top:100px;
  width:433px;
  height:62px;
}
#u12707 {
  position:absolute;
  left:2px;
  top:23px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u12708 {
  position:absolute;
  left:684px;
  top:162px;
  width:30px;
  height:803px;
}
#u12709 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u12710 {
  position:absolute;
  left:714px;
  top:906px;
  width:373px;
  height:59px;
}
#u12711 {
  position:absolute;
  left:2px;
  top:22px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u12712 {
  position:absolute;
  left:1087px;
  top:162px;
  width:30px;
  height:803px;
}
#u12713 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
