body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:935px;
  background:inherit;
  background-color:rgba(233, 237, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13095 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:935px;
}
#u13096 {
  position:absolute;
  left:2px;
  top:460px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:55px;
  background:inherit;
  background-color:rgba(1, 18, 48, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#011230;
}
#u13098 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:55px;
  color:#011230;
}
#u13099 {
  position:absolute;
  left:2px;
  top:20px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-style:normal;
  color:#FFFFFF;
}
#u13100 {
  position:absolute;
  left:25px;
  top:17px;
  width:217px;
  height:20px;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-style:normal;
  color:#FFFFFF;
}
#u13101 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u13102 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u13103 {
  position:absolute;
  left:551px;
  top:17px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u13104 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u13105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u13105 {
  position:absolute;
  left:674px;
  top:17px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#D7D7D7;
}
#u13106 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u13107 {
  position:absolute;
  left:901px;
  top:17px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#D7D7D7;
}
#u13108 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u13109 {
  position:absolute;
  left:787px;
  top:17px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#D7D7D7;
}
#u13110 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13111_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:41px;
}
#u13111 {
  position:absolute;
  left:627px;
  top:8px;
  width:2px;
  height:38px;
}
#u13112 {
  position:absolute;
  left:2px;
  top:11px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13113 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u13114 {
  position:absolute;
  left:1483px;
  top:9px;
  width:35px;
  height:35px;
}
#u13115 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13116 {
  position:absolute;
  left:1528px;
  top:17px;
  width:43px;
  height:20px;
  color:#FFFFFF;
}
#u13117 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u13118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u13118 {
  position:absolute;
  left:1574px;
  top:23px;
  width:10px;
  height:10px;
}
#u13119 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13120 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:167px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u13121 {
  position:absolute;
  left:1440px;
  top:47px;
  width:120px;
  height:167px;
}
#u13122 {
  position:absolute;
  left:2px;
  top:76px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13123 {
  position:absolute;
  left:1440px;
  top:51px;
  width:120px;
  height:35px;
}
#u13123_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 255, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13123.mouseOver {
}
#u13124 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u13125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13125 {
  position:absolute;
  left:1440px;
  top:88px;
  width:120px;
  height:35px;
}
#u13125_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 255, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13125.mouseOver {
}
#u13126 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u13127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13127 {
  position:absolute;
  left:1440px;
  top:126px;
  width:120px;
  height:35px;
}
#u13127_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 255, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13127.mouseOver {
}
#u13128 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u13129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13129 {
  position:absolute;
  left:1440px;
  top:167px;
  width:120px;
  height:47px;
}
#u13129_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:47px;
  background:inherit;
  background-color:rgba(240, 255, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13129.mouseOver {
}
#u13130 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u13131 {
  position:fixed;
  left:50%;
  margin-left:-272.5px;
  top:50%;
  margin-top:-103.5px;
  visibility:hidden;
}
#u13131_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u13131_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:207px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:1px 1px 12px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 12px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 12px rgba(0, 0, 0, 0.349019607843137);
}
#u13132 {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:207px;
}
#u13133 {
  position:absolute;
  left:2px;
  top:96px;
  width:541px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13134 {
  position:absolute;
  left:79px;
  top:24px;
  width:145px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13135 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u13136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u13136 {
  position:absolute;
  left:19px;
  top:11px;
  width:55px;
  height:55px;
}
#u13137 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u13138 {
  position:absolute;
  left:19px;
  top:92px;
  width:356px;
  height:20px;
  font-size:20px;
}
#u13139 {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  white-space:nowrap;
}
#u13140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:38px;
  background:inherit;
  background-color:rgba(45, 183, 245, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13140 {
  position:absolute;
  left:389px;
  top:157px;
  width:127px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13140_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:38px;
  background:inherit;
  background-color:rgba(60, 112, 235, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13140.mouseOver {
}
#u13141 {
  position:absolute;
  left:2px;
  top:11px;
  width:123px;
  word-wrap:break-word;
}
#u13142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u13142 {
  position:absolute;
  left:236px;
  top:157px;
  width:127px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u13143 {
  position:absolute;
  left:2px;
  top:11px;
  width:123px;
  word-wrap:break-word;
}
#u13144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u13144 {
  position:absolute;
  left:507px;
  top:11px;
  width:25px;
  height:25px;
}
#u13145 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(1, 18, 48, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13146 {
  position:absolute;
  left:550px;
  top:17px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13147 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u13148 {
  position:absolute;
  left:0px;
  top:55px;
  width:1600px;
  height:880px;
  overflow:hidden;
}
#u13148_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:880px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u13148_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1599px;
  height:143px;
  background:inherit;
  background-color:rgba(244, 247, 253, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13149 {
  position:absolute;
  left:0px;
  top:0px;
  width:1599px;
  height:143px;
}
#u13150 {
  position:absolute;
  left:2px;
  top:64px;
  width:1595px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u13151 {
  position:absolute;
  left:30px;
  top:30px;
  width:30px;
  height:30px;
}
#u13152 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u13153 {
  position:absolute;
  left:70px;
  top:31px;
  width:121px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u13154 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u13155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1599px;
  height:737px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13155 {
  position:absolute;
  left:0px;
  top:143px;
  width:1599px;
  height:737px;
}
#u13156 {
  position:absolute;
  left:2px;
  top:360px;
  width:1595px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13157 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13158_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:547px;
  height:5px;
}
#u13158 {
  position:absolute;
  left:543px;
  top:72px;
  width:544px;
  height:2px;
  font-size:16px;
  color:#999999;
}
#u13159 {
  position:absolute;
  left:2px;
  top:-7px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13160_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:5px;
}
#u13160 {
  position:absolute;
  left:543px;
  top:72px;
  width:1px;
  height:2px;
  font-size:16px;
  color:#999999;
}
#u13161 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u13162 {
  position:absolute;
  left:480px;
  top:102px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u13163 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u13164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u13164 {
  position:absolute;
  left:751px;
  top:102px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u13165 {
  position:absolute;
  left:10px;
  top:2px;
  width:88px;
  word-wrap:break-word;
}
#u13166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u13166 {
  position:absolute;
  left:786px;
  top:56px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u13167 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u13168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u13168 {
  position:absolute;
  left:1057px;
  top:57px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u13169 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u13170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u13170 {
  position:absolute;
  left:1020px;
  top:102px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u13171 {
  position:absolute;
  left:10px;
  top:2px;
  width:88px;
  word-wrap:break-word;
}
#u13172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u13172 {
  position:absolute;
  left:515px;
  top:58px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u13173 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u13174 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u13175 {
  position:absolute;
  left:379px;
  top:175px;
  width:153px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u13175_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u13175.mouseOver {
}
#u13176 {
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u13177 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u13178 {
  position:absolute;
  left:287px;
  top:175px;
  width:79px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u13179 {
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  word-wrap:break-word;
}
#u13180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u13180 {
  position:absolute;
  left:267px;
  top:192px;
  width:10px;
  height:10px;
}
#u13181 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
}
#u13182 {
  position:absolute;
  left:542px;
  top:187px;
  width:95px;
  height:16px;
  color:#999999;
}
#u13183 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u13184 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13185 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u13186 {
  position:absolute;
  left:287px;
  top:244px;
  width:92px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u13187 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u13188 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:141px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u13189 {
  position:absolute;
  left:379px;
  top:244px;
  width:415px;
  height:141px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u13189_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:141px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u13189.selected {
}
#u13190 {
  position:absolute;
  left:2px;
  top:60px;
  width:403px;
  word-wrap:break-word;
}
#u13191 {
  position:absolute;
  left:389px;
  top:262px;
  width:374px;
  height:106px;
}
#u13191_input {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:106px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u13192 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13193 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13194 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u13195 {
  position:absolute;
  left:287px;
  top:415px;
  width:79px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u13196 {
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  word-wrap:break-word;
}
#u13197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u13197 {
  position:absolute;
  left:267px;
  top:432px;
  width:10px;
  height:10px;
}
#u13198 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13199 {
  position:absolute;
  left:379px;
  top:533px;
}
#u13199_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u13199_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#33495F;
  text-align:left;
  line-height:16px;
}
#u13200 {
  position:absolute;
  left:27px;
  top:0px;
  width:320px;
  height:45px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#33495F;
  text-align:left;
  line-height:16px;
}
#u13200_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#33495F;
  text-align:left;
  line-height:16px;
}
#u13200.mouseOver {
}
#u13201 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  word-wrap:break-word;
}
#u13202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u13202 {
  position:absolute;
  left:0px;
  top:10px;
  width:22px;
  height:22px;
  font-family:'Zapf Dingbats Regular', 'Zapf Dingbats';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  line-height:15px;
}
#u13203 {
  position:absolute;
  left:0px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13199_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u13199_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
  text-align:left;
  line-height:16px;
}
#u13204 {
  position:absolute;
  left:27px;
  top:0px;
  width:320px;
  height:45px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
  text-align:left;
  line-height:16px;
}
#u13205 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  word-wrap:break-word;
}
#u13206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u13206 {
  position:absolute;
  left:0px;
  top:10px;
  width:22px;
  height:22px;
  font-family:'Roboto-Medium Regular', 'Roboto-Medium';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  line-height:15px;
}
#u13207 {
  position:absolute;
  left:0px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u13208 {
  position:absolute;
  left:6px;
  top:16px;
  width:10px;
  height:10px;
  font-family:'Roboto-Medium Regular', 'Roboto-Medium';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  line-height:15px;
}
#u13209 {
  position:absolute;
  left:0px;
  top:5px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13210 {
  position:absolute;
  left:379px;
  top:474px;
}
#u13210_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u13210_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#33495F;
  text-align:left;
  line-height:16px;
}
#u13211 {
  position:absolute;
  left:27px;
  top:0px;
  width:320px;
  height:45px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#33495F;
  text-align:left;
  line-height:16px;
}
#u13211_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#33495F;
  text-align:left;
  line-height:16px;
}
#u13211.mouseOver {
}
#u13212 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  word-wrap:break-word;
}
#u13213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u13213 {
  position:absolute;
  left:0px;
  top:10px;
  width:22px;
  height:22px;
  font-family:'Zapf Dingbats Regular', 'Zapf Dingbats';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  line-height:15px;
}
#u13214 {
  position:absolute;
  left:0px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13210_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u13210_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
  text-align:left;
  line-height:16px;
}
#u13215 {
  position:absolute;
  left:27px;
  top:0px;
  width:320px;
  height:45px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
  text-align:left;
  line-height:16px;
}
#u13216 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  word-wrap:break-word;
}
#u13217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u13217 {
  position:absolute;
  left:0px;
  top:10px;
  width:22px;
  height:22px;
  font-family:'Roboto-Medium Regular', 'Roboto-Medium';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  line-height:15px;
}
#u13218 {
  position:absolute;
  left:0px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u13219 {
  position:absolute;
  left:6px;
  top:16px;
  width:10px;
  height:10px;
  font-family:'Roboto-Medium Regular', 'Roboto-Medium';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  line-height:15px;
}
#u13220 {
  position:absolute;
  left:0px;
  top:5px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13221 {
  position:absolute;
  left:379px;
  top:415px;
}
#u13221_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u13221_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
  text-align:left;
  line-height:16px;
}
#u13222 {
  position:absolute;
  left:27px;
  top:0px;
  width:320px;
  height:45px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
  text-align:left;
  line-height:16px;
}
#u13223 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  word-wrap:break-word;
}
#u13224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u13224 {
  position:absolute;
  left:0px;
  top:10px;
  width:22px;
  height:22px;
  font-family:'Roboto-Medium Regular', 'Roboto-Medium';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  line-height:15px;
}
#u13225 {
  position:absolute;
  left:0px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u13226 {
  position:absolute;
  left:6px;
  top:16px;
  width:10px;
  height:10px;
  font-family:'Roboto-Medium Regular', 'Roboto-Medium';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  line-height:15px;
}
#u13227 {
  position:absolute;
  left:0px;
  top:5px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13221_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u13221_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#33495F;
  text-align:left;
  line-height:16px;
}
#u13228 {
  position:absolute;
  left:27px;
  top:0px;
  width:320px;
  height:45px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#33495F;
  text-align:left;
  line-height:16px;
}
#u13228_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#33495F;
  text-align:left;
  line-height:16px;
}
#u13228.mouseOver {
}
#u13229 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  word-wrap:break-word;
}
#u13230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u13230 {
  position:absolute;
  left:0px;
  top:10px;
  width:22px;
  height:22px;
  font-family:'Zapf Dingbats Regular', 'Zapf Dingbats';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  line-height:15px;
}
#u13231 {
  position:absolute;
  left:0px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13232 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:35px;
  background:inherit;
  background-color:rgba(45, 183, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13233 {
  position:absolute;
  left:379px;
  top:649px;
  width:107px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13234 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u13235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u13235 {
  position:absolute;
  left:511px;
  top:649px;
  width:80px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u13236 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
