body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2138px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u27664 {
  position:absolute;
  left:452px;
  top:1744px;
  width:1200px;
  height:600px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u27665 {
  position:absolute;
  left:2px;
  top:292px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u27666 {
  position:absolute;
  left:938px;
  top:1890px;
  width:1200px;
  height:600px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u27667 {
  position:absolute;
  left:2px;
  top:292px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u27668 {
  position:absolute;
  left:214px;
  top:378px;
  width:1200px;
  height:600px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u27669 {
  position:absolute;
  left:2px;
  top:292px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  line-height:19px;
}
#u27670 {
  position:absolute;
  left:493px;
  top:552px;
  width:270px;
  height:60px;
  font-size:19px;
  line-height:19px;
}
#u27671 {
  position:absolute;
  left:2px;
  top:22px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27672 {
  position:absolute;
  left:503px;
  top:552px;
  width:50px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27672_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27672.mouseOver {
}
#u27672_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
  background:inherit;
  background-color:rgba(1, 159, 132, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27672.mouseDown {
}
#u27672_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
  background:inherit;
  background-color:rgba(1, 159, 132, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27672.selected {
}
#u27673 {
  position:absolute;
  left:0px;
  top:20px;
  width:50px;
  word-wrap:break-word;
}
#u27674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27674 {
  position:absolute;
  left:603px;
  top:552px;
  width:50px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27674_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27674.mouseOver {
}
#u27674_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
  background:inherit;
  background-color:rgba(1, 159, 132, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27674.mouseDown {
}
#u27674_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
  background:inherit;
  background-color:rgba(1, 159, 132, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27674.selected {
}
#u27675 {
  position:absolute;
  left:0px;
  top:20px;
  width:50px;
  word-wrap:break-word;
}
#u27676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27676 {
  position:absolute;
  left:653px;
  top:552px;
  width:50px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27676_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27676.mouseOver {
}
#u27676_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
  background:inherit;
  background-color:rgba(1, 159, 132, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27676.mouseDown {
}
#u27676_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
  background:inherit;
  background-color:rgba(1, 159, 132, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27676.selected {
}
#u27677 {
  position:absolute;
  left:0px;
  top:20px;
  width:50px;
  word-wrap:break-word;
}
#u27678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27678 {
  position:absolute;
  left:703px;
  top:552px;
  width:50px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27678_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27678.mouseOver {
}
#u27678_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
  background:inherit;
  background-color:rgba(1, 159, 132, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27678.mouseDown {
}
#u27678_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
  background:inherit;
  background-color:rgba(1, 159, 132, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27678.selected {
}
#u27679 {
  position:absolute;
  left:0px;
  top:20px;
  width:50px;
  word-wrap:break-word;
}
#u27680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27680 {
  position:absolute;
  left:553px;
  top:552px;
  width:50px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27680_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27680.mouseOver {
}
#u27680_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
  background:inherit;
  background-color:rgba(1, 159, 132, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27680.mouseDown {
}
#u27680_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
  background:inherit;
  background-color:rgba(1, 159, 132, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27680.selected {
}
#u27681 {
  position:absolute;
  left:0px;
  top:20px;
  width:50px;
  word-wrap:break-word;
}
#u27682_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:22px;
  height:24px;
}
#u27682 {
  position:absolute;
  left:631px;
  top:562px;
  width:20px;
  height:20px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  line-height:12px;
}
#u27682_img.mouseOver {
}
#u27682.mouseOver {
  opacity:0.800000011920929;
}
#u27683 {
  position:absolute;
  left:0px;
  top:5px;
  width:20px;
  word-wrap:break-word;
}
#u27684 {
  position:absolute;
  left:598px;
  top:638px;
}
#u27684_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u27684_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:270px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  line-height:19px;
}
#u27685 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:270px;
  font-size:19px;
  line-height:19px;
}
#u27686 {
  position:absolute;
  left:2px;
  top:127px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27687 {
  position:absolute;
  left:0px;
  top:20px;
  width:60px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27687_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27687.mouseOver {
}
#u27687_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(1, 159, 132, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27687.mouseDown {
}
#u27687_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(1, 159, 132, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27687.selected {
}
#u27688 {
  position:absolute;
  left:0px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u27689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27689 {
  position:absolute;
  left:0px;
  top:120px;
  width:60px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27689_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27689.mouseOver {
}
#u27689_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(1, 159, 132, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27689.mouseDown {
}
#u27689_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(1, 159, 132, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27689.selected {
}
#u27690 {
  position:absolute;
  left:0px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u27691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27691 {
  position:absolute;
  left:0px;
  top:170px;
  width:60px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27691_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27691.mouseOver {
}
#u27691_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(1, 159, 132, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27691.mouseDown {
}
#u27691_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(1, 159, 132, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27691.selected {
}
#u27692 {
  position:absolute;
  left:0px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u27693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27693 {
  position:absolute;
  left:0px;
  top:220px;
  width:60px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27693_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27693.mouseOver {
}
#u27693_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(1, 159, 132, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27693.mouseDown {
}
#u27693_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(1, 159, 132, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27693.selected {
}
#u27694 {
  position:absolute;
  left:0px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u27695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27695 {
  position:absolute;
  left:0px;
  top:70px;
  width:60px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27695_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27695.mouseOver {
}
#u27695_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(1, 159, 132, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27695.mouseDown {
}
#u27695_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(1, 159, 132, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:19px;
}
#u27695.selected {
}
#u27696 {
  position:absolute;
  left:0px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u27697 {
  position:absolute;
  left:65px;
  top:60px;
  visibility:hidden;
}
#u27697_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u27697_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u27698 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
  line-height:16px;
}
#u27699 {
  position:absolute;
  left:2px;
  top:17px;
  width:106px;
  word-wrap:break-word;
}
